name: 自动合并 sin.txt 和 us.txt 和 jp.txt 和 fra.txt  生成 ips.txt

permissions:
  contents: write  # 关键：允许提交回仓库

on:
  push:
    paths:
      - 'sin.txt'
      - 'us.txt'
#      - 'jp.txt'
#      - 'fra.txt'
  pull_request:
    types: [closed]
    paths:
      - 'sin.txt'
      - 'us.txt'
#      - 'jp.txt'
#      - 'fra.txt'
jobs:
  merge-files:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true || github.event_name == 'push'

    steps:
      - name: checkout 代码
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: 合并文件内容
        run: |
          cat sin.txt > ips.txt
          echo "" >> ips.txt
          cat us.txt >> ips.txt
#          echo "" >> ips.txt
#          cat jp.txt >> ips.txt
#          echo "" >> ips.txt
#          cat fra.txt >> ips.txt

      - name: 提交 ips.txt 更改
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "auto: 合并 sin.txt、us.txt、jp.txt fra.txt 生成 ips.txt"
          file_pattern: "ips.txt"
